# User-specific

*.suo
*.user
*.userprefs
xcuserdata/

# Build results

[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/

# Visual Studio cache

*.vs

# NuGet

[Pp]ackages/

# Static libraries

*.a

# Third-party libraries

lib/

# Mac-specific

.DS_Store
